<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Crew Cipher</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="hud">Crew Cipher</div>
    <div class="main">
        {% include 'partials/crew_list.html' %}
        <div class="game-area">
            {% include 'partials/button.html' %}
            {% include 'partials/timer.html' %}
            {% include 'partials/badge.html' %}
        </div>
        {% include 'partials/door.html' %}
        {% include 'partials/message.html' %}
    </div>

    <script type="text/javascript">
        window.crew = {{ crew|tojson|safe }};
    </script>
    <script src="/static/main.js"></script>
</body>
</html>
